<form class="space-y-6 bg-white p-6 rounded-lg shadow-md" method="post" hx-post hx-target="#content-container" hx-swap="innerHTML">
    {% csrf_token %}
    <div>
        <label for="{{form.email.id_for_label}}"
            class="block text-sm font-medium leading-6 text-gray-900">{{form.email.label}}</label>
        <div class="mt-2">
            <input id="{{form.email.id_for_label}}" name="email" type="email" autocomplete="email" required
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent sm:text-sm sm:leading-6"
                style="border-color: var(--secondary-color);">
            {% if form.email.errors %}
            <small id="email-error" class="error text-red-500 text-xs italic">{{ form.email.errors }}</small>
            {% endif %}
        </div>
    </div>
    <div class="mt-6">
        <button type="submit""
            class=" flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold
            leading-6 text-white shadow-sm hover:bg-highlight focus-visible:outline focus-visible:outline-2
            focus-visible:outline-offset-2 focus-visible:outline-primary">
            Send reset link
        </button>
    </div>
</form>