<!-- templates/users/password_reset_confirm.html -->
{% extends "base/_base.html" %}

{% load i18n %}

{% block main %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8"
    style="background-color: var(--background-color);">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-primary">Enter New Password</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6 bg-white p-6 rounded-lg shadow-md" method="post">
            {% csrf_token %}
            <div>
                <label for="{{form.new_password1.id_for_label}}"
                    class="block text-sm font-medium leading-6 text-gray-900">{{form.new_password1.label}}</label>
                <div class="mt-2">
                    <input id="{{form.new_password1.id_for_label}}" name="new_password1" type="password"
                        autocomplete="new-password" required
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent sm:text-sm sm:leading-6"
                        style="border-color: var(--secondary-color);">
                </div>
            </div>
            <div>
                <label for="{{form.new_password2.id_for_label}}"
                    class="block text-sm font-medium leading-6 text-gray-900">{{form.new_password2.label}}</label>
                <div class="mt-2">
                    <input id="{{form.new_password2.id_for_label}}" name="new_password2" type="password"
                        autocomplete="new-password" required
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent sm:text-sm sm:leading-6"
                        style="border-color: var(--secondary-color);">
                    {% if form.new_password2.errors %}
                    <small id="new_password2-error" class="error text-red-500 text-xs italic">{{form.new_password2.errors }}</small>
                    <small class="help" style="display: none;">{{ form.new_password1.help_text|safe }}</small>
                    {% else %}
                    <small class="help" style="display:block;">{{ form.new_password1.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="mt-6">
                <button type="submit" class=" flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold
                    leading-6 text-white shadow-sm hover:bg-highlight focus-visible:outline focus-visible:outline-2
                    focus-visible:outline-offset-2 focus-visible:outline-primary">
                    Change password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}